* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: sans-serif;
}

form {
  width: 360px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

form > * {
  padding: 7px 10px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #999;
  color: #fff;
  padding: 10px 3%;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: .95rem;

}

header nav a:not(:last-child) {
  margin-right: 10px;
}

header nav a.active {
  text-decoration: underline;
}

main {
  padding: 25px 3%;
}

main h1 {
  text-align: center;
  margin-bottom: 18px;
}

main p {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}